[Unit]
Description=octoblu-device-mailer-register
After=octoblu-device-mailer@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-device-mailer-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-device-mailer-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-device-mailer-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-device-mailer-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-device-mailer-%i \
      octoblu \
      device-mailer \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-device-mailer-register-%i/kronk-run \
    /kronk/register/start octoblu-device-mailer-%i \
      octoblu \
      device-mailer \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-device-mailer-register-%i/kronk-run \
    /kronk/register/stop octoblu-device-mailer-%i \
      octoblu \
      device-mailer \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-device-mailer@%i.service
