[Unit]
Description=octoblu-device-mailer-green-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/device-mailer/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/device-mailer/green/docker_url) \
               || docker pull \$(etcdctl get /octoblu/device-mailer/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-device-mailer-green-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-device-mailer-green@%i.service
