[Unit]
Description=octoblu-nanocyte-engine-http
Wants=octoblu-nanocyte-engine-http-register@%i.service
Wants=octoblu-nanocyte-engine-http-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/service/start-pre > /tmp/octoblu-nanocyte-engine-http-%i-kronk-start-pre \
  && /usr/bin/etcdctl get /kronk/service/start > /tmp/octoblu-nanocyte-engine-http-%i-kronk-start \
  && /usr/bin/etcdctl get /kronk/service/stop > /tmp/octoblu-nanocyte-engine-http-%i-kronk-stop \
  && chmod +x /tmp/octoblu-nanocyte-engine-http-%i-kronk-* \
"
ExecStartPre=/bin/bash -c " \
  /tmp/octoblu-nanocyte-engine-http-%i-kronk-start-pre \
    octoblu-nanocyte-engine-http \
    %i \
    /octoblu/nanocyte-engine-http/env \
    /octoblu/nanocyte-engine-http/docker_url \
"
ExecStart=/bin/bash -c " \
  /tmp/octoblu-nanocyte-engine-http-%i-kronk-start \
    octoblu-nanocyte-engine-http \
    %i \
    512m \
    /octoblu/nanocyte-engine-http/docker_url \
    /octoblu/nanocyte-engine-http \
"
ExecStop=/bin/bash -c " \
  /tmp/octoblu-nanocyte-engine-http-%i-kronk-stop \
    octoblu-nanocyte-engine-http \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
