[Unit]
Description=octoblu-nanocyte-engine-http-register
After=octoblu-nanocyte-engine-http@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/register/start-pre > /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-start-pre \
  && /usr/bin/etcdctl get /kronk/register/start > /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-start \
  && /usr/bin/etcdctl get /kronk/register/stop > /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-stop \
  && chmod +x /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-* \
"
ExecStartPre=/bin/bash -c " \
  /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-start-pre \
    octoblu-nanocyte-engine-http \
    %i \
    /octoblu/nanocyte-engine-http/register-env \
"
ExecStart=/bin/sh -c " \
  /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-start \
    octoblu-nanocyte-engine-http \
    %i \
"
ExecStop=/bin/sh -c " \
  /tmp/octoblu-nanocyte-engine-http-register-%i-kronk-stop \
    octoblu-nanocyte-engine-http \
    %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-nanocyte-engine-http@%i.service
