[Unit]
Description=Run device-status-flow-etl

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=5 minute

[Install]
WantedBy=timers.target

[X-Fleet]
X-ConditionMachineOf=device-status-flow-etl.service
