[Unit]
Description=Run device-detail-gateblu-etl

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=5 minute

[Install]
WantedBy=timers.target

[X-Fleet]
X-ConditionMachineOf=device-detail-gateblu-etl.service
