[Unit]
Description=Register with vulcand for octoblu-stock-service-green

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/docker run \
     --name octoblu-stock-service-green-register-%i \
     --rm \
     --net host \
     --env URL=http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/stock-service/green/port) \
     --env BACKEND_ID=octoblu-stock-service-green \
     --env SERVER_ID=octoblu-stock-service-green-%i \
     --env VULCAN_URL=http://localhost:8182 \
     --env TIMEOUT_SECS=5 \
     octoblu/register-sidekick"

ExecStop=-/usr/bin/docker kill octoblu-stock-service-green-register-%i
ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --backend octoblu-stock-service-green --id octoblu-stock-service-green-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-stock-service-green@%i.service
