[Unit]
Description=octoblu-meshblu-verifier-coap
Wants=vulcand.service
After=vulcand.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-verifier-coap/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-verifier-coap/docker_url" && exit 1
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm --force \
  octoblu-meshblu-verifier-coap-env \
  octoblu-meshblu-verifier-coap \
  2>/dev/null \
"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --net host \
  --name octoblu-meshblu-verifier-coap-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-verifier-coap/env > /tmp/octoblu-meshblu-verifier-coap.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --net host \
  --name octoblu-meshblu-verifier-coap \
  --env-file /tmp/octoblu-meshblu-verifier-coap.env \
  $(/usr/bin/etcdctl get /octoblu/meshblu-verifier-coap/docker_url) \
"
# ExecStop=/usr/bin/docker kill octoblu-meshblu-verifier-coap

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
