[Unit]
Description=octoblu-minor-server-update-sidekick


[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-minor-server-update-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-minor-server-update-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-minor-server-update-sidekick-%i/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/minor-server-update/restart \
  -- /run/kronk/octoblu-minor-server-update-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-minor-server-update-sidekick-%i \
    10 /octoblu/minor-server-update/docker_url octoblu-minor-server-update-%i octoblu-minor-server-update-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-minor-server-update@%i.service
