[Unit]
Description=octoblu-refresh-token-worker-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/refresh-token-worker/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/refresh-token-worker/docker_url) \
               || docker pull \$(etcdctl get /octoblu/refresh-token-worker/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-refresh-token-worker-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-refresh-token-worker@%i.service
