[Unit]
Description=octoblu-meshblu-authenticator-facebook
Wants=octoblu-meshblu-authenticator-facebook-register@%i.service
Wants=octoblu-meshblu-authenticator-facebook-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/service/start-pre > /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-start-pre \
  && /usr/bin/etcdctl get /kronk/service/start > /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-start \
  && /usr/bin/etcdctl get /kronk/service/stop > /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-stop \
  && chmod +x /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-* \
"
ExecStartPre=/bin/bash -c " \
  /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-start-pre \
    octoblu-meshblu-authenticator-facebook \
    %i \
    /octoblu/meshblu-authenticator-facebook/env \
    /octoblu/meshblu-authenticator-facebook/docker_url \
"
ExecStart=/bin/bash -c " \
  /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-start \
    octoblu-meshblu-authenticator-facebook \
    %i \
    512m \
    /octoblu/meshblu-authenticator-facebook/docker_url \
    /octoblu/meshblu-authenticator-facebook \
"
ExecStop=/bin/bash -c " \
  /tmp/octoblu-meshblu-authenticator-facebook-%i-kronk-stop \
    octoblu-meshblu-authenticator-facebook \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
