[Unit]
Description=Route for vulcand for octoblu-api-octoblu-green
BindsTo=octoblu-api-octoblu-green@%i.service
After=octoblu-api-octoblu-green@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding backend, server, and frontend to vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl frontend upsert \
    --id octoblu-app-octoblu-api \
    --backend octoblu-api-octoblu-green \
    --route "Host(\\"$(/usr/bin/etcdctl get /octoblu/app-octoblu/host)\\") && PathRegexp(\\"/api/.*\\")" \
    --trustForwardHeader \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-api-octoblu-green@%i.service
