[Unit]
Description=octoblu-organization-service-register
After=octoblu-organization-service@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-organization-service-register-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-organization-service-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-organization-service-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-organization-service-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-organization-service-%i \
      octoblu \
      organization-service \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-organization-service-register-%i/kronk-run \
    /kronk/register/start octoblu-organization-service-%i \
      octoblu \
      organization-service \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-organization-service-register-%i/kronk-run \
    /kronk/register/stop octoblu-organization-service-%i \
      octoblu \
      organization-service \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-organization-service@%i.service
