[Unit]
Description=octoblu-organization-service-green-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/organization-service \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/organization-service/green/docker_url) \
               || docker pull \$(etcdctl get /octoblu/organization-service/docker_url)) \
               && docker stop \
                    --time=1 \
                    octoblu-organization-service-green-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-organization-service-green@%i.service
