[Unit]
Description=octoblu-namespace-service
Wants=octoblu-namespace-service-register@%i.service
Wants=octoblu-namespace-service-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-namespace-service-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-namespace-service-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-namespace-service-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-namespace-service-%i/kronk-run \
    /kronk/service/start-pre octoblu-namespace-service-%i \
      octoblu \
      namespace-service \
      %i \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-namespace-service-%i/kronk-run \
    /kronk/service/start octoblu-namespace-service-%i \
      octoblu \
      namespace-service \
      %i \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-namespace-service-%i/kronk-run \
    /kronk/service/stop octoblu-namespace-service-%i \
      octoblu \
      namespace-service \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
