[Unit]
Description=Healthcheck vulcand for octoblu-metrical-service-blue
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker pull quay.io/octoblu/deployinate-healthcheck
ExecStart=/bin/sh -c "/usr/bin/echo 'Checking backends before switching vulcand' && \
  /usr/bin/docker run --rm \
    -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    quay.io/octoblu/deployinate-healthcheck octoblu metrical-service blue $(etcdctl get /octoblu/metrical-service/healthcheck_mode) && \
  /usr/bin/docker run --rm octoblu/vctl frontend upsert \
    --id octoblu-metrical-service \
    --backend octoblu-metrical-service-blue \
    --route \"Host(\\\"$(/usr/bin/etcdctl get /octoblu/metrical-service/host)\\\")\" \
    --trustForwardHeader \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/etcdctl set /octoblu/metrical-service/active blue \
"

[X-Fleet]
MachineMetadata=Services=true
