[Unit]
Description=Run flow-success-rate-etl

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=5 minute

[Install]
WantedBy=timers.target

[X-Fleet]
X-ConditionMachineOf=flow-success-rate-etl.service
