[Unit]
Description=octoblu-vulcand-experimental-sidekick
After=octoblu-vulcand-experimental.service

[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-vulcand-experimental-sidekick \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-vulcand-experimental-sidekick/kronk-run \
  && chmod +x /run/kronk/octoblu-vulcand-experimental-sidekick/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/vulcand-experimental/restart \
  -- /run/kronk/octoblu-vulcand-experimental-sidekick/kronk-run \
    /kronk/sidekick/start octoblu-vulcand-experimental-sidekick \
    10 /octoblu/vulcand-experimental/docker_url octoblu-vulcand-experimental octoblu-vulcand-experimental-register

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
#X-ConditionMachineOf=octoblu-vulcand-experimental.service
Global=true
