[Unit]
Description=octoblu-meshblu-balancer-mqtt-sidekick
After=octoblu-meshblu-balancer-mqtt.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-balancer-mqtt-sidekick \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-balancer-mqtt-sidekick/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-balancer-mqtt-sidekick/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-balancer-mqtt-sidekick/kronk-run \
    /kronk/sidekick/start octoblu-meshblu-balancer-mqtt \
    octoblu \
    meshblu-balancer-mqtt \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-balancer-mqtt.service
