[Unit]
Description=octoblu-meshblu-balancer-mqtt-register-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch --recursive \
  /vulcand/backends/octoblu-meshblu-core-protocol-adapter-mqtt/servers \
  -- $(docker stop \
    --time=30 \
    octoblu-meshblu-balancer-mqtt)"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-balancer-mqtt.service
