[Unit]
Description=Healthcheck vulcand for octoblu-nanocyte-engine-simple-blue
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker pull quay.io/octoblu/deployinate-healthcheck
ExecStartPre=/bin/sh -c "/usr/bin/echo 'Checking backends before switching vulcand' && \
  /usr/bin/docker run --rm \
    -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    quay.io/octoblu/deployinate-healthcheck octoblu nanocyte-engine-simple blue"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
    --memory 512m \
    octoblu/vctl frontend upsert \
    --id octoblu-nanocyte-engine-simple \
    --backend octoblu-nanocyte-engine-simple-blue \
    --route \"Host(\\\"$(/usr/bin/etcdctl get /octoblu/nanocyte-engine-simple/host)\\\")\" \
    --trustForwardHeader \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/etcdctl set /octoblu/nanocyte-engine-simple/active blue"

[X-Fleet]
MachineMetadata=Services=true
