[Unit]
Description=octoblu-meshblu-coap-balancer-register-sidekick
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/meshblu-haproxy/backends \
  -- $(docker stop \
    --time=30 \
    octoblu-meshblu-coap-balancer)"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-coap-balancer.service
