[Unit]
Description=Blacklist meshblu coap in pen if not available

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
Restart=always
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu-coap-balancer-blacklist
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu-coap-balancer-blacklist
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
     --name octoblu-meshblu-coap-balancer-blacklist \
     -e PENCTL_HOST=$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):$(etcdctl get /octoblu/meshblu-coap-balancer/port_control) \
     $(/usr/bin/etcdctl get /octoblu/meshblu-coap-blacklister/docker_url) \
"
ExecStop=-/usr/bin/docker kill octoblu-meshblu-coap-balancer-blacklist

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-coap-balancer.service
