[Unit]
Description=octoblu-meshblu-coap-balancer

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-coap-balancer/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-coap-balancer/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-meshblu-coap-balancer-env octoblu-meshblu-coap-balancer
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-coap-balancer-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-coap-balancer/env > /tmp/octoblu-meshblu-coap-balancer.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-coap-balancer \
  --memory 512m \
  -e SERVERS=\"$(fleetctl list-machines | grep Services | awk -v ORS=':51257 ' '{ print $2 }')\" \
  -e SERVER_NAME=${COREOS_PRIVATE_IPV4} \
  --env-file /tmp/octoblu-meshblu-coap-balancer.env \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-coap-balancer/port):5683/udp \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-coap-balancer/port_control):9000 \
  $(/usr/bin/etcdctl get /octoblu/meshblu-coap-balancer/docker_url) \
"
ExecStop=/usr/bin/docker kill octoblu-meshblu-coap-balancer

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
