[Unit]
Description=octoblu-data-forwarder-splunk-sidekick
After=octoblu-data-forwarder-splunk@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-data-forwarder-splunk-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-data-forwarder-splunk-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-data-forwarder-splunk-sidekick-%i/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-data-forwarder-splunk-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-data-forwarder-splunk-%i \
    octoblu \
    data-forwarder-splunk \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-data-forwarder-splunk@%i.service
