[Unit]
Description=octoblu-cwc-integration-service
Wants=octoblu-cwc-integration-service-register@%i.service
Wants=octoblu-cwc-integration-service-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-cwc-integration-service-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-cwc-integration-service-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-cwc-integration-service-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-cwc-integration-service-%i/kronk-run \
    /kronk/service/start-pre octoblu-cwc-integration-service-%i \
      octoblu-cwc-integration-service \
      %i \
      /octoblu/cwc-integration-service/env \
      /octoblu/cwc-integration-service/docker_url \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-cwc-integration-service-%i/kronk-run \
    /kronk/service/start octoblu-cwc-integration-service-%i \
      octoblu-cwc-integration-service \
      %i \
      512m \
      /octoblu/cwc-integration-service/docker_url \
      /octoblu/cwc-integration-service \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-cwc-integration-service-%i/kronk-run \
    /kronk/service/stop octoblu-cwc-integration-service-%i \
      octoblu-cwc-integration-service \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
