[Unit]
Description=octoblu-meshblu-core-protocol-adapter-coap-sidekick
After=octoblu-meshblu-core-protocol-adapter-coap@%i.service

[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-core-protocol-adapter-coap-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-core-protocol-adapter-coap-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-core-protocol-adapter-coap-sidekick-%i/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/meshblu-core-protocol-adapter-coap/restart \
  -- /run/kronk/octoblu-meshblu-core-protocol-adapter-coap-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-meshblu-core-protocol-adapter-coap-sidekick-%i \
    10 /octoblu/meshblu-core-protocol-adapter-coap/docker_url octoblu-meshblu-core-protocol-adapter-coap-%i octoblu-meshblu-core-protocol-adapter-coap-tcp-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-core-protocol-adapter-coap@%i.service
