[Unit]
Description=octoblu-meshblu-core-worker-amqp
Wants=octoblu-meshblu-core-worker-amqp-register@%i.service
Wants=octoblu-meshblu-core-worker-amqp-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-core-worker-amqp-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-core-worker-amqp-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-core-worker-amqp-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-core-worker-amqp-%i/kronk-run \
    /kronk/service/start-pre octoblu-meshblu-core-worker-amqp-%i \
      octoblu \
      meshblu-core-worker-amqp \
      %i \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-core-worker-amqp-%i/kronk-run \
    /kronk/service/start octoblu-meshblu-core-worker-amqp-%i \
      octoblu \
      meshblu-core-worker-amqp \
      %i \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-core-worker-amqp-%i/kronk-run \
    /kronk/service/stop octoblu-meshblu-core-worker-amqp-%i \
      octoblu \
      meshblu-core-worker-amqp \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
