[Unit]
Description=octoblu-meshblu-haproxy
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-haproxy/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-haproxy/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-meshblu-haproxy-env octoblu-meshblu-haproxy
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-haproxy-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-haproxy/env > /tmp/octoblu-meshblu-haproxy.env \
"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name register-service-elb-env \
  --net host \
  -e ETCDCTL_PEERS=http://localhost:2379 \
  quay.io/octoblu/etcd-to-env /octoblu/register-service-elb/env > /tmp/register-service-elb.env \
"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-haproxy-register-single-service \
  -e ELB_NAME=meshblu-service-cluster \
  -e INSTANCE_HOSTNAME=$(hostname) \
  --env-file /tmp/register-service-elb.env \
  $(/usr/bin/etcdctl get /octoblu/register-single-service-elb/docker_url) \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-haproxy \
  --memory 512m \
  -e SERVERS=\"$(fleetctl list-machines | grep Services | awk -v ORS=' ' '{ print $2 }')\" \
  -e SERVER_NAME=$(curl http://instance-data/latest/meta-data/local-ipv4) \
  --env-file /tmp/octoblu-meshblu-haproxy.env \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-haproxy/port):80 \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-haproxy/port_mqtt):1883 \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-haproxy/port_peers):$(/usr/bin/etcdctl get /octoblu/meshblu-haproxy/port_peers) \
  $(/usr/bin/etcdctl get /octoblu/meshblu-haproxy/docker_url) \
"
ExecStop=/usr/bin/docker kill octoblu-meshblu-haproxy

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
