[Unit]
Description=octoblu-gateblu-shadow-service-green
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always

ExecStartPre=/usr/bin/etcdctl get /octoblu/gateblu-shadow-service/green/port || /usr/bin/echo "etcd did not contain /octoblu/gateblu-shadow-service/green/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/gateblu-shadow-service/green/docker_url || /usr/bin/echo "etcd did not contain /octoblu/gateblu-shadow-service/green/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-gateblu-shadow-service-green-env-%i octoblu-gateblu-shadow-service-green-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-gateblu-shadow-service-green-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/gateblu-shadow-service/env > /tmp/octoblu-gateblu-shadow-service-green.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-gateblu-shadow-service-green-%i \
  --env-file /tmp/octoblu-gateblu-shadow-service-green.env \
  --memory 512m \
  -p $(/usr/bin/etcdctl get /octoblu/gateblu-shadow-service/green/port):80 \
  $(/usr/bin/etcdctl get /octoblu/gateblu-shadow-service/green/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=5 octoblu-gateblu-shadow-service-green-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-gateblu-shadow-service-green@*.service
MachineMetadata=Services=true
