[Unit]
Description=octoblu-gateblu-shadow-service-sidekick
After=octoblu-gateblu-shadow-service@%i.service

[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-gateblu-shadow-service-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-gateblu-shadow-service-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-gateblu-shadow-service-sidekick-%i/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/gateblu-shadow-service/restart \
  -- /run/kronk/octoblu-gateblu-shadow-service-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-gateblu-shadow-service-sidekick-%i \
    10 /octoblu/gateblu-shadow-service/docker_url octoblu-gateblu-shadow-service-%i octoblu-gateblu-shadow-service-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-gateblu-shadow-service@%i.service
