[Unit]
Description=octoblu-rest-worker-sidekick
After=octoblu-rest-worker@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-rest-worker-sidekick-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-rest-worker-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-rest-worker-sidekick-%i/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-rest-worker-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-rest-worker-%i \
    octoblu \
    rest-worker \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-rest-worker@%i.service
