[Unit]
Description=Run register-etcd-srv 60 seconds after boot
After=docker.service

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=10 minutes

[Install]
WantedBy=timers.target

[X-Fleet]
X-ConditionMachineOf=register-etcd-srv.service
