[Unit]
Description=octoblu-channel-proxy-service-register


[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-channel-proxy-service-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-channel-proxy-service-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-channel-proxy-service-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-channel-proxy-service-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-channel-proxy-service-%i \
      octoblu-channel-proxy-service \
      %i \
      /octoblu/channel-proxy-service/register-env \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-channel-proxy-service-register-%i/kronk-run \
    /kronk/register/start octoblu-channel-proxy-service-%i \
      octoblu-channel-proxy-service \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-channel-proxy-service-register-%i/kronk-run \
    /kronk/register/stop octoblu-channel-proxy-service-%i \
      octoblu-channel-proxy-service \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-channel-proxy-service@%i.service
