[Unit]
Description=octoblu-smart-conference-room-web-ui
Wants=octoblu-smart-conference-room-web-ui-register@%i.service
Wants=octoblu-smart-conference-room-web-ui-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-smart-conference-room-web-ui-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-smart-conference-room-web-ui-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-smart-conference-room-web-ui-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-smart-conference-room-web-ui-%i/kronk-run \
    /kronk/service/start-pre octoblu-smart-conference-room-web-ui-%i \
      octoblu \
      smart-conference-room-web-ui \
      %i \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-smart-conference-room-web-ui-%i/kronk-run \
    /kronk/service/start octoblu-smart-conference-room-web-ui-%i \
      octoblu \
      smart-conference-room-web-ui \
      %i \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-smart-conference-room-web-ui-%i/kronk-run \
    /kronk/service/stop octoblu-smart-conference-room-web-ui-%i \
      octoblu \
      smart-conference-room-web-ui \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
