[Unit]
Description=octoblu-nanocyte-engine-worker
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/usr/bin/etcdctl get /octoblu/nanocyte-engine-worker/docker_url || /usr/bin/echo "etcd did not contain /octoblu/nanocyte-engine-worker/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker kill octoblu-nanocyte-engine-worker-env-%i
ExecStartPre=-/usr/bin/docker rm octoblu-nanocyte-engine-worker-env-%i
ExecStartPre=-/usr/bin/docker kill octoblu-nanocyte-engine-worker-%i
ExecStartPre=-/usr/bin/docker rm octoblu-nanocyte-engine-worker-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-nanocyte-engine-worker-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/nanocyte-engine-worker/env > /tmp/octoblu-nanocyte-engine-worker-%i.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-nanocyte-engine-worker-%i \
  --env-file /tmp/octoblu-nanocyte-engine-worker-%i.env \
  $(/usr/bin/etcdctl get /octoblu/nanocyte-engine-worker/docker_url) \
  node command-dispatch.js \
"
ExecStop=/usr/bin/docker kill octoblu-nanocyte-engine-worker-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Beta=true
