[Unit]
Description=Register octoblu-governator-service
After=octoblu-governator-service@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /octoblu/kronk/register/start-pre > /tmp/octoblu-governator-service-register-%i-kronk-start-pre \
  && /usr/bin/etcdctl get /octoblu/kronk/register/start > /tmp/octoblu-governator-service-register-%i-kronk-start \
  && /usr/bin/etcdctl get /octoblu/kronk/register/stop > /tmp/octoblu-governator-service-register-%i-kronk-stop \
  && chmod +x /tmp/octoblu-governator-service-register-%i-kronk-* \
"
ExecStartPre=/bin/bash -c " \
  /tmp/octoblu-governator-service-register-%i-kronk-start-pre \
    octoblu-governator-service \
    %i \
    /octoblu/governator-service/register-env \
"
ExecStart=/bin/sh -c " \
  /tmp/octoblu-governator-service-register-%i-kronk-start \
    octoblu-governator-service \
    %i \
    octoblu-governator-service-$(/usr/bin/etcdctl get /cluster/name) \
"
ExecStop=/bin/sh -c " \
  /tmp/octoblu-governator-service-register-%i-kronk-stop \
    octoblu-governator-service \
    %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-governator-service@%i.service
