[Unit]
Description=octoblu-flow-canary-register
After=octoblu-flow-canary@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-flow-canary-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-flow-canary-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-flow-canary-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-flow-canary-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-flow-canary-%i \
      octoblu \
      flow-canary \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-flow-canary-register-%i/kronk-run \
    /kronk/register/start octoblu-flow-canary-%i \
      octoblu \
      flow-canary \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-flow-canary-register-%i/kronk-run \
    /kronk/register/stop octoblu-flow-canary-%i \
      octoblu \
      flow-canary \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-flow-canary@%i.service
