[Unit]
Description=Sentinel Facebook
Wants=vulcand.service
After=vulcand.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=/usr/bin/etcdctl get /octoblu/sentinel-email-password/docker_url || /usr/bin/echo "etcd did not contain /octoblu/sentinel-email-password/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-sentinel-email-password-env octoblu-sentinel-email-password
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-sentinel-email-password-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/sentinel-email-password/env > /tmp/octoblu-sentinel-email-password.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-sentinel-email-password \
  --env-file /tmp/octoblu-sentinel-email-password.env \
  $(/usr/bin/etcdctl get /octoblu/sentinel-email-password/docker_url) \
"
# ExecStop=/usr/bin/docker kill octoblu-sentinel-email-password

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
