[Unit]
Description=sentinel-email-password timer

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=15 minutes

[Install]
WantedBy=timers.target

[X-Fleet]
MachineMetadata=Services=true
X-ConditionMachineOf=octoblu-sentinel-email-password.service
