[Unit]
Description=Register with vulcand for octoblu-meshblu-verifier-service-green

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
Restart=always
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu-verifier-service-green-register-%i
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu-verifier-service-green-register-%i
ExecStart=/bin/sh -c "/usr/bin/docker run \
     --name octoblu-meshblu-verifier-service-green-register-%i \
     --rm \
     --net host \
     --env URL=http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/meshblu-verifier-service/green/port) \
     --env BACKEND_ID=octoblu-meshblu-verifier-service-green \
     --env SERVER_ID=octoblu-meshblu-verifier-service-green-%i \
     --env VULCAN_URL=http://localhost:8182 \
     --env TIMEOUT_SECS=5 \
     --env FRONTEND_TTL_SECS=11 \
     $(/usr/bin/etcdctl get /image-versions/octoblu/register-sidekick/docker_url) \
"

ExecStop=-/usr/bin/docker kill octoblu-meshblu-verifier-service-green-register-%i
ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --backend octoblu-meshblu-verifier-service-green --id octoblu-meshblu-verifier-service-green-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-verifier-service-green@%i.service
