[Unit]
Description=Report CloudWatch Metrics to AWS
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=50
ExecStart=/usr/bin/docker pull octoblu/cloudwatch-monitor

[X-Fleet]
Global=true
