[Unit]
Description=Report CloudWatch Metrics to AWS
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=50
ExecStartPre=-/usr/bin/docker kill cloudwatch-monitor
ExecStartPre=-/usr/bin/docker rm cloudwatch-monitor
ExecStart=/bin/bash -c " \
  /usr/bin/docker run \
  --name cloudwatch-monitor \
  --net host \
  --privileged \
  $(etcdctl get /octoblu/cloudwatch-monitor/docker_url) \
"

[X-Fleet]
Global=true
MachineMetadata=Services=true
