[Unit]
Description=Run CloudWatch monitor every minute

[Timer]
OnBootSec=3 minutes
OnUnitActiveSec=1 minute

[Install]
WantedBy=timers.target

[X-Fleet]
Global=true
