[Unit]
Description= Device Status Gateblu ETL

[Service]
TimeoutStartSec=300
ExecStart=/usr/bin/docker pull quay.io/octoblu/device-status-gateblu-etl:latest

[X-Fleet]
Global=true
MachineMetadata=Services=true
