[Unit]
Description=Forward Docker Logs/Stats to logentries.com

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docker-logentries
ExecStartPre=-/usr/bin/docker rm docker-logentries
ExecStartPre=/usr/bin/docker pull logentries/docker-logentries
ExecStart=/bin/bash -c " \
/usr/bin/docker run --name docker-logentries \
-v /var/run/docker.sock:/var/run/docker.sock \
logentries/docker-logentries \
-t $(etcdctl get /logentries.com/docker-logentries/token) -j -a host=`uname -n` \
"

[X-Fleet]
Global=true
