[Unit]
Description=Run global-flow-runner-update 60 seconds after boot
After=docker.service

[Timer]
OnStartupSec=3 minute

[Install]
WantedBy=timers.target

[X-Fleet]
Global=true
