[Unit]
Description=Flow Runner Update

[Service]
TimeoutStartSec=300
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/username) \
  --password $(/usr/bin/etcdctl get /docker/password) \
  --email $(/usr/bin/etcdctl get /docker/email)'
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/bin/sh -c "/usr/bin/docker pull quay.io/octoblu/flow-success-rate-etl:latest"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull octoblu/cloudwatch-report-fleet:latest"
ExecStart=/bin/sh -c "/usr/bin/docker pull quay.io/octoblu/flow-runner:latest"

[X-Fleet]
Global=true
