[Unit]
Description=Forward Systemd Journal to logentries.com

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill journal-2-logentries
ExecStartPre=-/usr/bin/docker rm journal-2-logentries
ExecStartPre=-/usr/bin/sudo /usr/bin/journalctl --sync --flush
ExecStartPre=-/usr/bin/sudo /usr/bin/journalctl --rotate
ExecStartPre=-/usr/bin/sudo /usr/bin/journalctl --vacuum-time=1s
ExecStartPre=/usr/bin/docker pull quay.io/octoblu/journal-2-logentries
ExecStart=/bin/bash -c \
"/usr/bin/docker run --rm --name journal-2-logentries \
--net host \
-v /run/journald.sock:/run/journald.sock \
-e LOGENTRIES_TOKEN=$(etcdctl get /logentries.com/token) \
quay.io/octoblu/journal-2-logentries"

[X-Fleet]
Global=true
