[Unit]
Description=Check meshblu for message busing problems
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=-/bin/sh -c "/usr/bin/docker kill meshblu-message-buster"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm meshblu-message-buster"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull $(/usr/bin/etcdctl get /octoblu/meshblu-message-buster/docker_url)"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name meshblu-message-buster-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  --net host \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-message-buster/env > /tmp/meshblu-message-buster.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name meshblu-message-buster \
  -e INSTANCE_HOSTNAME=$(hostname) \
  --env-file /tmp/meshblu-message-buster.env \
  --net host \
  $(/usr/bin/etcdctl get /octoblu/meshblu-message-buster/docker_url)"

[X-Fleet]
Global=true
MachineMetadata=Services=true
