[Unit]
Description=meshblu-service-haproxy
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill meshblu-service-haproxy
ExecStartPre=-/usr/bin/docker rm meshblu-service-haproxy
ExecStartPre=/bin/sh -c "/usr/bin/docker pull $(/usr/bin/etcdctl get /octoblu/meshblu-service-haproxy/docker_url)"
ExecStart=/bin/sh -c "/usr/bin/docker run    \
  --rm \
  --name meshblu-service-haproxy \
  -p 8080:80 \
  -p 59890:59890 \
  $(/usr/bin/etcdctl get /octoblu/meshblu-service-haproxy/docker_url) \
"
ExecStop=/usr/bin/docker kill meshblu-service-haproxy

[X-Fleet]
Global=true
MachineMetadata=Services=true
