[Unit]
Description=Register Service with ELB

[Service]
TimeoutStartSec=300
ExecStartPre=/bin/sh -c "/usr/bin/docker pull $(/usr/bin/etcdctl get /octoblu/register-serivce-elb/docker_url)"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name register-service-elb-env \
  --net host \
  -e ETCDCTL_PEERS=http://localhost:2379 \
  quay.io/octoblu/etcd-to-env /octoblu/register-service-elb/env > /tmp/register-service-elb.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name register-service-elb \
  --net host \
  -e ELB_NAME=service-cluster \
  -e INSTANCE_HOSTNAME=$(hostname) \
  --env-file /tmp/register-service-elb.env \
  $(/usr/bin/etcdctl get /octoblu/register-serivce-elb/docker_url)"

[X-Fleet]
Global=true
MachineMetadata=Beta=true
