[Unit]
Description=Traefik
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill traefik
ExecStartPre=-/usr/bin/docker rm traefik
ExecStart=/usr/bin/sh -c "/usr/bin/docker run    \
  --rm \
  --name traefik \
  -p 80:80 \
  -p 8080:8080 \
  $(etcdctl get /octoblu/traefik/docker_url) \
    --etcd=true \
    --etcd.endpoint=$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    --etcd.watch=true \
    --web=true \
"
ExecStop=/usr/bin/docker stop traefik

[X-Fleet]
Global=true
MachineMetadata=Services=true
