[Unit]
Description=octoblu-meshblu-otp-service-register
After=octoblu-meshblu-otp-service@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-otp-service-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-otp-service-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-otp-service-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-otp-service-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-meshblu-otp-service-%i \
      octoblu \
      meshblu-otp-service \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-otp-service-register-%i/kronk-run \
    /kronk/register/start octoblu-meshblu-otp-service-%i \
      octoblu \
      meshblu-otp-service \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-otp-service-register-%i/kronk-run \
    /kronk/register/stop octoblu-meshblu-otp-service-%i \
      octoblu \
      meshblu-otp-service \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-otp-service@%i.service
