[Unit]
Description=Register with vulcand for octoblu-weather-service
After=octoblu-weather-service@%i.service
BindsTo=octoblu-weather-service@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
Restart=on-failure
ExecStartPre=/usr/bin/
ExecStartPre=/bin/sh -c "\
  docker inspect octoblu-weather-service-%i \
    | docker run --rm --interactive realguess/jq \
      jq --raw-output '.[].NetworkSettings.Ports["80/tcp"][].HostPort' \
    | xargs echo -n > /tmp/octoblu-weather-service-%i-port \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-weather-service-register-%i \
  $(/usr/bin/etcdctl get /octoblu/register-traefik/docker_url) \
    --etcd-uri $(/usr/bin/etcdctl get /octoblu/etcd-major/endpoint) \
    --server-key /traefik/backends/octoblu-weather-service/servers/octoblu-weather-service-$(etcdctl get /cluster/name)-%i \
    --uri http://${COREOS_PRIVATE_IPV4}:$(cat /tmp/octoblu-weather-service-%i-port) \
"
ExecStop=/usr/bin/docker stop octoblu-weather-service-register-%i
[X-Fleet]
X-ConditionMachineOf=octoblu-weather-service@%i.service
