[Unit]
Description=octoblu-weather-service
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/usr/bin/etcdctl get /octoblu/weather-service/port || /usr/bin/echo "etcd did not contain /octoblu/weather-service/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/weather-service/docker_url || /usr/bin/echo "etcd did not contain /octoblu/weather-service/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-weather-service-env-%i octoblu-weather-service-%i
ExecStartPre=-/usr/bin/docker rm --force octoblu-weather-service-port-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-weather-service-port-%i \
  --env ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  $(/usr/bin/etcdctl get /image-versions/octoblu/etcd-lock-port/docker_url) \
    --etcd-uri=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    --registry /cluster/ports \
    --key /octoblu/weather-service/instances/%i/port \
"
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-weather-service-env-%i \
  --env ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/weather-service/env > /tmp/octoblu-weather-service-%i.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-weather-service-%i \
  --env-file /tmp/octoblu-weather-service-%i.env \
  --memory 512m \
  --publish $(/usr/bin/etcdctl get /octoblu/weather-service/instances/%i/port):80 \
  $(/usr/bin/etcdctl get /octoblu/weather-service/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=5 octoblu-weather-service-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-weather-service@*.service
MachineMetadata=Services=true
