[Unit]
Description=octoblu-weather-service
Wants=octoblu-weather-service-register@%i.service
Wants=octoblu-weather-service-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-weather-service-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-weather-service-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-weather-service-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-weather-service-%i/kronk-run \
    /kronk/service/start-pre octoblu-weather-service-%i \
      octoblu \
      weather-service \
      %i \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-weather-service-%i/kronk-run \
    /kronk/service/start octoblu-weather-service-%i \
      octoblu \
      weather-service \
      %i \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-weather-service-%i/kronk-run \
    /kronk/service/stop octoblu-weather-service-%i \
      octoblu \
      weather-service \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
