[Unit]
Description=octoblu-weather-service-sidekick
After=octoblu-weather-service@%i.service
BindsTo=octoblu-weather-service@%i.service

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/weather-service/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/weather-service/docker_url) \
               || docker pull \$(etcdctl get /octoblu/weather-service/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-weather-service-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-weather-service@%i.service
