[Unit]
Description=Healthcheck vulcand for octoblu-flow-deploy-service-green
Wants=vulcand.service
After=vulcand.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker pull quay.io/octoblu/deployinate-healthcheck
ExecStart=/bin/sh -c "/usr/bin/echo 'Checking backends before switching vulcand' && \
  /usr/bin/docker run --rm \
    -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    quay.io/octoblu/deployinate-healthcheck octoblu flow-deploy-service green $(etcdctl get /octoblu/flow-deploy-service/healthcheck_mode) && \
  /usr/bin/docker run --rm octoblu/vctl frontend upsert \
    --id octoblu-flow-deploy-service \
    --backend octoblu-flow-deploy-service-green \
    --route \"Host(\\\"$(/usr/bin/etcdctl get /octoblu/flow-deploy-service/host)\\\")\" \
    --trustForwardHeader \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/etcdctl set /octoblu/flow-deploy-service/active green \
"

[X-Fleet]
MachineMetadata=Services=true
