[Unit]
Description=octoblu-meshblu-balancer-socket.io-sidekick
After=octoblu-meshblu-balancer-socket.io.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-balancer-socket.io-sidekick \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-meshblu-balancer-socket.io-sidekick/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-balancer-socket.io-sidekick/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-balancer-socket.io-sidekick/kronk-run \
    /kronk/balancer-register-sidekick/start octoblu-meshblu-balancer-socket.io \
    octoblu \
    meshblu-balancer-socket.io \
    meshblu-core-protocol-adapter-socket.io \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-balancer-socket.io.service
