[Unit]
Description=octoblu-data-forwarder-elasticsearch
Wants=octoblu-data-forwarder-elasticsearch-register@%i.service
Wants=octoblu-data-forwarder-elasticsearch-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-data-forwarder-elasticsearch-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-data-forwarder-elasticsearch-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-data-forwarder-elasticsearch-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-data-forwarder-elasticsearch-%i/kronk-run \
    /kronk/service/start-pre octoblu-data-forwarder-elasticsearch-%i \
      octoblu-data-forwarder-elasticsearch \
      %i \
      /octoblu/data-forwarder-elasticsearch/env \
      /octoblu/data-forwarder-elasticsearch/docker_url \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-data-forwarder-elasticsearch-%i/kronk-run \
    /kronk/service/start octoblu-data-forwarder-elasticsearch-%i \
      octoblu-data-forwarder-elasticsearch \
      %i \
      512m \
      /octoblu/data-forwarder-elasticsearch/docker_url \
      /octoblu/data-forwarder-elasticsearch \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-data-forwarder-elasticsearch-%i/kronk-run \
    /kronk/service/stop octoblu-data-forwarder-elasticsearch-%i \
      octoblu-data-forwarder-elasticsearch \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
