[Unit]
Description=octoblu-oauth-provider
Wants=octoblu-oauth-provider-register@%i.service
Wants=octoblu-oauth-provider-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-oauth-provider-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-oauth-provider-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-oauth-provider-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-oauth-provider-%i/kronk-run \
    /kronk/service/start-pre octoblu-oauth-provider-%i \
      octoblu \
      oauth-provider \
      %i \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-oauth-provider-%i/kronk-run \
    /kronk/service/start octoblu-oauth-provider-%i \
      octoblu \
      oauth-provider \
      %i \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-oauth-provider-%i/kronk-run \
    /kronk/service/stop octoblu-oauth-provider-%i \
      octoblu \
      oauth-provider \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
