[Unit]
Description=octoblu-oauth-provider-green-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/oauth-provider/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/oauth-provider/green/docker_url) \
               || docker pull \$(etcdctl get /octoblu/oauth-provider/docker_url)) \
               && docker stop \
                    --time=1 \
                    octoblu-oauth-provider-green-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-oauth-provider-green@%i.service
