[Unit]
Description=octoblu-meshblu-server-socket.io-v1
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-server-socket.io-v1/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-meshblu-server-socket.io-v1-env octoblu-meshblu-server-socket.io-v1
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-server-socket.io-v1-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-server-socket.io-v1/env > /tmp/octoblu-meshblu-server-socket.io-v1.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-server-socket.io-v1 \
  --env-file /tmp/octoblu-meshblu-server-socket.io-v1.env \
  -e MESHBLU_SERVER=$(ifconfig docker0 | grep 'inet ' | awk '{print $2}') \
  --publish $(/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/port):80 \
  --memory 1024m \
  $(/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=10 octoblu-meshblu-server-socket.io-v1

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Services=true
