[Unit]
Description=octoblu-meshblu-server-socket.io-v1
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-server-socket.io-v1/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu-server-socket.io-v1-env-%i
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu-server-socket.io-v1-env-%i
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu-server-socket.io-v1-%i
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu-server-socket.io-v1-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-server-socket.io-v1-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-server-socket.io-v1/env > /tmp/octoblu-meshblu-server-socket.io-v1-%i.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-server-socket.io-v1-%i \
  --env-file /tmp/octoblu-meshblu-server-socket.io-v1-%i.env \
  --publish $(/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/port):80 \
  --memory 256m \
  $(/usr/bin/etcdctl get /octoblu/meshblu-server-socket.io-v1/docker_url) \
  node command-dispatch.js \
"
ExecStop=/usr/bin/docker kill octoblu-meshblu-server-socket.io-v1-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Services=true
