[Unit]
Description=octoblu-interval-worker-sidekick
After=octoblu-interval-worker@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-interval-worker-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-interval-worker-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-interval-worker-sidekick-%i/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-interval-worker-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-interval-worker-%i \
    octoblu \
    interval-worker \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-interval-worker@%i.service
