[Unit]
Description=octoblu-docker-librato-sidekick
After=octoblu-docker-librato.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-docker-librato-sidekick \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-docker-librato-sidekick/kronk-run \
  && chmod +x /run/kronk/octoblu-docker-librato-sidekick/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-docker-librato-sidekick/kronk-run \
    /kronk/sidekick/start octoblu-docker-librato \
    octoblu \
    docker-librato
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
X-ConditionMachineOf=octoblu-docker-librato.service
