[Unit]
Description=octoblu-docker-librato

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/usr/bin/sleep 3

ExecStartPre=/bin/bash -c " \
  /usr/bin/docker run --rm \
    --net 'host' \
    --name 'octoblu-docker-librato-env' \
    --env ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
    quay.io/octoblu/etcd-to-env '/octoblu/docker-librato/env' > '/tmp/octoblu-docker-librato.env' 2> /dev/null \
"

ExecStart=/bin/bash -c " \
  /usr/bin/docker run --rm \
    --name 'octoblu-docker-librato' \
    --env WORKER_NAME='octoblu-docker-librato:$(etcdctl get /cluster/name 2> /dev/null)' \
    --env CLUSTER_NAME=$(etcdctl get /cluster/name 2> /dev/null) \
    --env MACHINE_ID=$COREOS_PRIVATE_IPV4 \
    --env-file '/tmp/octoblu-docker-librato.env' \
    --memory '256mb' \
    -v /var/run/docker.sock:/var/run/docker.sock \
    $(etcdctl get /octoblu/docker-librato/docker_url 2>/dev/null) \
"

ExecStop=/bin/bash -c " \
  /usr/bin/docker stop 'octoblu-docker-librato-env' &> /dev/null && \
  exit 0 \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Services=true
