[Unit]
Description=octoblu-meshblu-core-protocol-adapter-http-streaming-register
After=octoblu-meshblu-core-protocol-adapter-http-streaming@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-meshblu-core-protocol-adapter-http-streaming-%i \
      octoblu \
      meshblu-core-protocol-adapter-http-streaming \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i/kronk-run \
    /kronk/register/start octoblu-meshblu-core-protocol-adapter-http-streaming-%i \
      octoblu \
      meshblu-core-protocol-adapter-http-streaming \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-http-streaming-register-%i/kronk-run \
    /kronk/register/stop octoblu-meshblu-core-protocol-adapter-http-streaming-%i \
      octoblu \
      meshblu-core-protocol-adapter-http-streaming \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-core-protocol-adapter-http-streaming@%i.service
