[Unit]
Description=octoblu-meshblu-server-http-sidekick


[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/sidekick/start > /tmp/octoblu-meshblu-server-http-sidekick-%i-kronk-start \
  && chmod +x /tmp/octoblu-meshblu-server-http-sidekick-%i-kronk-* \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/meshblu-server-http/restart \
  -- /tmp/octoblu-meshblu-server-http-sidekick-%i-kronk-start 10 /octoblu/meshblu-server-http/docker_url octoblu-meshblu-server-http-%i octoblu-meshblu-server-http-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-server-http@%i.service
