[Unit]
Description=octoblu-meshblu-server-http-register


[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/register/start-pre > /tmp/octoblu-meshblu-server-http-register-%i-kronk-start-pre \
  && /usr/bin/etcdctl get /kronk/register/start > /tmp/octoblu-meshblu-server-http-register-%i-kronk-start \
  && /usr/bin/etcdctl get /kronk/register/stop > /tmp/octoblu-meshblu-server-http-register-%i-kronk-stop \
  && chmod +x /tmp/octoblu-meshblu-server-http-register-%i-kronk-* \
"
ExecStartPre=/bin/bash -c " \
  /tmp/octoblu-meshblu-server-http-register-%i-kronk-start-pre \
    octoblu-meshblu-server-http \
    %i \
    /octoblu/meshblu-server-http/register-env \
"
ExecStart=/bin/sh -c " \
  /tmp/octoblu-meshblu-server-http-register-%i-kronk-start \
    octoblu-meshblu-server-http \
    %i \
"
ExecStop=/bin/sh -c " \
  /tmp/octoblu-meshblu-server-http-register-%i-kronk-stop \
    octoblu-meshblu-server-http \
    %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-server-http@%i.service
