[Unit]
Description=octoblu-meshblu-sidekick
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/meshblu \
  -- $(sleep $(shuf -i 1-30 -n 1) \
    && docker stop \
          --time=30 \
          octoblu-meshblu)"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Beta=true
