[Unit]
Description=octoblu-meshblu
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu-env
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu-env
ExecStartPre=-/usr/bin/docker kill octoblu-meshblu
ExecStartPre=-/usr/bin/docker rm octoblu-meshblu
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu/env > /tmp/octoblu-meshblu.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu \
  --memory 512m \
  --env-file /tmp/octoblu-meshblu.env \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu/port):80 \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu/port_mqtt):1883 \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu/port_coap):5683/udp \
  $(/usr/bin/etcdctl get /octoblu/meshblu/docker_url) \
"
ExecStop=/usr/bin/docker kill octoblu-meshblu

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Services=true
