[Unit]
Description=octoblu-forwarder-service-sidekick
After=octoblu-forwarder-service@%i.service

[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-forwarder-service-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-forwarder-service-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-forwarder-service-sidekick-%i/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/forwarder-service/restart \
  -- /run/kronk/octoblu-forwarder-service-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-forwarder-service-sidekick-%i \
    10 /octoblu/forwarder-service/docker_url octoblu-forwarder-service-%i octoblu-forwarder-service-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-forwarder-service@%i.service
