[Unit]
Description=octoblu-deployinate-service-register
After=octoblu-deployinate-service@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-deployinate-service-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-deployinate-service-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-deployinate-service-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-deployinate-service-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-deployinate-service-%i \
      octoblu-deployinate-service \
      %i \
      /octoblu/deployinate-service/register-env \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-deployinate-service-register-%i/kronk-run \
    /kronk/register/start octoblu-deployinate-service-%i \
      octoblu-deployinate-service \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-deployinate-service-register-%i/kronk-run \
    /kronk/register/stop octoblu-deployinate-service-%i \
      octoblu-deployinate-service \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-deployinate-service@%i.service
