[Unit]
Description=Register with vulcand for octoblu-deployinate-service-blue
BindsTo=octoblu-deployinate-service-blue@%i.service
After=octoblu-deployinate-service-blue@%i.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding backend, server, and frontend to vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl backend upsert \
    --id octoblu-deployinate-service-blue \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/docker run --rm octoblu/vctl server upsert \
    --id octoblu-deployinate-service-blue-%i \
    --backend octoblu-deployinate-service-blue \
    --url http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/deployinate-service/blue/port) \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 \
"

ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --id octoblu-deployinate-service-blue-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-deployinate-service-blue@%i.service
