[Unit]
Description=octoblu-tentacle-server-balancer-register-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/meshblu-haproxy/backends/restart \
  -- $(docker stop \
    --time=30 \
    octoblu-tentacle-server-balancer)"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-tentacle-server-balancer.service
