[Unit]
Description=octoblu-meshblu-channel-splunk
Wants=octoblu-meshblu-channel-splunk-register@%i.service
Wants=octoblu-meshblu-channel-splunk-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-channel-splunk-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-channel-splunk-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-channel-splunk-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-channel-splunk-%i/kronk-run \
    /kronk/service/start-pre octoblu-meshblu-channel-splunk-%i \
      octoblu-meshblu-channel-splunk \
      %i \
      /octoblu/meshblu-channel-splunk/env \
      /octoblu/meshblu-channel-splunk/docker_url \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-channel-splunk-%i/kronk-run \
    /kronk/service/start octoblu-meshblu-channel-splunk-%i \
      octoblu-meshblu-channel-splunk \
      %i \
      512m \
      /octoblu/meshblu-channel-splunk/docker_url \
      /octoblu/meshblu-channel-splunk \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-channel-splunk-%i/kronk-run \
    /kronk/service/stop octoblu-meshblu-channel-splunk-%i \
      octoblu-meshblu-channel-splunk \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
