[Unit]
Description=octoblu-mongoclient
Wants=octoblu-mongoclient-register@%i.service
Wants=octoblu-mongoclient-sidekick@%i.service

[Service]
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-mongoclient-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-mongoclient-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-mongoclient-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-mongoclient-%i/kronk-run \
    /kronk/service/start-pre octoblu-mongoclient-%i \
      octoblu-mongoclient \
      %i \
      /octoblu/mongoclient/env \
      /octoblu/mongoclient/docker_url \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-mongoclient-%i/kronk-run \
    /kronk/service/start octoblu-mongoclient-%i \
      octoblu-mongoclient \
      %i \
      512m \
      /octoblu/mongoclient/docker_url \
      /octoblu/mongoclient \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-mongoclient-%i/kronk-run \
    /kronk/service/stop octoblu-mongoclient-%i \
      octoblu-mongoclient \
      %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
