[Unit]
Description=octoblu-meshblu-core-protocol-adapter-mqtt-tcp
After=octoblu-meshblu-core-protocol-adapter-mqtt@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i/kronk-run \
    /kronk/tcp/start-pre octoblu-meshblu-core-protocol-adapter-mqtt-%i \
      octoblu-meshblu-core-protocol-adapter-mqtt \
      %i \
      /octoblu/meshblu-core-protocol-adapter-mqtt/tcp-env \
      1883 \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i/kronk-run \
    /kronk/tcp/start octoblu-meshblu-core-protocol-adapter-mqtt-%i \
      octoblu-meshblu-core-protocol-adapter-mqtt \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-core-protocol-adapter-mqtt-tcp-%i/kronk-run \
    /kronk/tcp/stop octoblu-meshblu-core-protocol-adapter-mqtt-%i \
      octoblu-meshblu-core-protocol-adapter-mqtt \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-core-protocol-adapter-mqtt@%i.service
