[Unit]
Description=octoblu-tentacle-server-sidekick
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/tentacle-server \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/tentacle-server/docker_url) \
               || docker pull \$(etcdctl get /octoblu/tentacle-server/docker_url)) \
               && docker stop \
                    --time=10 \
                    octoblu-tentacle-server\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=Services=true
