[Unit]
Description=octoblu-vulcand
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f octoblu-vulcand
ExecStart=/usr/bin/sh -c "/usr/bin/docker run    \
  --rm \
  --name octoblu-vulcand \
  -p 80:8181 \
  -p 8182:8182 \
  $(/usr/bin/etcdctl get /octoblu/vulcand/docker_url) \
    -apiInterface=0.0.0.0 \
    -interface=0.0.0.0 \
    --etcd=$(/usr/bin/etcdctl get /octoblu/etcd-major/endpoint) \
"
ExecStop=/usr/bin/docker stop octoblu-vulcand

[X-Fleet]
Global=true
MachineMetadata=Services=true
