[Unit]
Description=octoblu-vulcand-sidekick
After=octoblu-vulcand@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-vulcand-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-vulcand-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-vulcand-sidekick-%i/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-vulcand-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-vulcand-%i \
    octoblu \
    vulcand \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-vulcand@%i.service
