[Unit]
Description=octoblu-terminator-service-sidekick


[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/sidekick/start > /tmp/octoblu-terminator-service-sidekick-%i-kronk-start \
  && chmod +x /tmp/octoblu-terminator-service-sidekick-%i-kronk-* \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/terminator-service/restart \
  -- /tmp/octoblu-terminator-service-sidekick-%i-kronk-start 10 /octoblu/terminator-service/docker_url octoblu-terminator-service-%i octoblu-terminator-service-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-terminator-service@%i.service
