[Unit]
Description=Register with vulcand for octoblu-terminator-service-blue

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
Restart=always
ExecStartPre=-/usr/bin/docker kill octoblu-terminator-service-blue-register-%i
ExecStartPre=-/usr/bin/docker rm octoblu-terminator-service-blue-register-%i
ExecStart=/bin/sh -c "/usr/bin/docker run \
     --name octoblu-terminator-service-blue-register-%i \
     --rm \
     --net host \
     --env URL=http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/terminator-service/blue/port) \
     --env BACKEND_ID=octoblu-terminator-service-blue \
     --env SERVER_ID=octoblu-terminator-service-blue-%i \
     --env VULCAN_URL=http://localhost:8182 \
     --env TIMEOUT_SECS=5 \
     --env FRONTEND_TTL_SECS=11 \
     $(/usr/bin/etcdctl get /image-versions/octoblu/register-sidekick/docker_url) \
"

ExecStop=-/usr/bin/docker kill octoblu-terminator-service-blue-register-%i
ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --backend octoblu-terminator-service-blue --id octoblu-terminator-service-blue-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-terminator-service-blue@%i.service
