[Unit]
Description=octoblu-meshblu-balancer-http-streaming-dns-sidekick

[Service]
TimeoutStartSec=30
ExecStartPre=-/usr/bin/docker rm --force octoblu-meshblu-balancer-http-streaming-dns-sidekick octoblu-meshblu-balancer-http-streaming-dns-sidekick-env
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-balancer-http-streaming-dns-sidekick-env \
  --env ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/register-service-elb/env > /tmp/octoblu-meshblu-balancer-http-streaming-sidekick-elb.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-balancer-http-streaming-dns-sidekick \
  -e ELB_NAME=$(/usr/bin/etcdctl get /octoblu/meshblu-balancer-http-streaming/elb_name) \
  -e INSTANCE_HOSTNAME=$(hostname) \
  --env-file /tmp/octoblu-meshblu-balancer-http-streaming-sidekick-elb.env \
  $(/usr/bin/etcdctl get /octoblu/register-single-service-elb/docker_url) \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-balancer-http-streaming.service
