[Unit]
Description=Register with vulcand for octoblu-meshblu-message-buster-blue
BindsTo=octoblu-meshblu-message-buster-blue@%i.service
After=octoblu-meshblu-message-buster-blue@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding backend, server, and frontend to vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl backend upsert \
    --id octoblu-meshblu-message-buster-blue \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 && \
  /usr/bin/docker run --rm octoblu/vctl server upsert \
    --id octoblu-meshblu-message-buster-blue-%i \
    --backend octoblu-meshblu-message-buster-blue \
    --url http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/meshblu-message-buster/blue/port) \
    --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182 \
"

ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --backend octoblu-meshblu-message-buster --id octoblu-meshblu-message-buster-blue-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-message-buster-blue@%i.service
