[Unit]
Description=Kuzco kills Kronks

[Service]
Type=simple
TimeoutStartSec=50
ExecStart=/bin/bash -c " \
  /usr/bin/pkill -fc sidekick \
"

[X-Fleet]
Global=true
MachineMetadata=Services=true
