[Unit]
Description=octoblu-request-queue-siphon
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always

ExecStartPre=/usr/bin/etcdctl get /octoblu/request-queue-siphon/blue/port || /usr/bin/echo "etcd did not contain /octoblu/request-queue-siphon/blue/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/request-queue-siphon/blue/docker_url || /usr/bin/echo "etcd did not contain /octoblu/request-queue-siphon/blue/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-request-queue-siphon-env-%i octoblu-request-queue-siphon-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-request-queue-siphon-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/request-queue-siphon/env > /tmp/octoblu-request-queue-siphon.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-request-queue-siphon-%i \
  --env-file /tmp/octoblu-request-queue-siphon.env \
  --memory 512m \
  -p $(/usr/bin/etcdctl get /octoblu/request-queue-siphon/blue/port):80 \
  $(/usr/bin/etcdctl get /octoblu/request-queue-siphon/blue/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=5 octoblu-request-queue-siphon-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-request-queue-siphon@*.service
MachineMetadata=Services=true
