[Unit]
Description=octoblu-request-queue-siphon-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/request-queue-siphon/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/request-queue-siphon/docker_url) \
               || docker pull \$(etcdctl get /octoblu/request-queue-siphon/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-request-queue-siphon-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-request-queue-siphon@%i.service
