[Unit]
Description=octoblu-data-forwarder-mongodb-register
After=octoblu-data-forwarder-mongodb@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-data-forwarder-mongodb-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-data-forwarder-mongodb-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-data-forwarder-mongodb-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-data-forwarder-mongodb-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-data-forwarder-mongodb-%i \
      octoblu \
      data-forwarder-mongodb \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-data-forwarder-mongodb-register-%i/kronk-run \
    /kronk/register/start octoblu-data-forwarder-mongodb-%i \
      octoblu \
      data-forwarder-mongodb \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-data-forwarder-mongodb-register-%i/kronk-run \
    /kronk/register/stop octoblu-data-forwarder-mongodb-%i \
      octoblu \
      data-forwarder-mongodb \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-data-forwarder-mongodb@%i.service
