[Unit]
Description=octoblu-meshblu-worker-sidekick
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/meshblu-worker \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/meshblu-worker/docker_url) \
               || docker pull \$(etcdctl get /octoblu/meshblu-worker/docker_url)) \
               && docker stop \
                    --time=30 \
                    octoblu-meshblu-worker-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-worker@%i.service
