[Unit]
Description=octoblu-login.octoblu.com-green
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/usr/bin/etcdctl get /octoblu/login.octoblu.com/green/port || /usr/bin/echo "etcd did not contain /octoblu/login.octoblu.com/green/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/login.octoblu.com/green/docker_url || /usr/bin/echo "etcd did not contain /octoblu/login.octoblu.com/green/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-login.octoblu.com-green-env-%i octoblu-login.octoblu.com-green-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-login.octoblu.com-green-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/login.octoblu.com/env > /tmp/octoblu-login.octoblu.com-green.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-login.octoblu.com-green-%i \
  --env-file /tmp/octoblu-login.octoblu.com-green.env \
  --memory 512m \
  -p $(/usr/bin/etcdctl get /octoblu/login.octoblu.com/green/port):80 \
  $(/usr/bin/etcdctl get /octoblu/login.octoblu.com/green/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=1 octoblu-login.octoblu.com-green-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-login.octoblu.com-green@*.service
MachineMetadata=Services=true
