[Unit]
Description=octoblu-vulcand-control
Wants=octoblu-vulcand-control-register@%i.service
Wants=octoblu-vulcand-control-sidekick@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/usr/bin/sleep 3
ExecStartPre=-/usr/bin/docker rm -f octoblu-vulcand-control-%i
ExecStart=/usr/bin/sh -c "/usr/bin/docker run    \
  --rm \
  --name octoblu-vulcand-control-%i \
  -p 8182:8182 \
  $(/usr/bin/etcdctl get /octoblu/vulcand-control/docker_url) \
      -apiInterface=0.0.0.0 \
      -interface=0.0.0.0 \
      -etcd=http://$(/usr/bin/ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
"
ExecStop=/usr/bin/docker stop octoblu-vulcand-control-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
Conflicts=octoblu-vulcand-control@*.service
