[Unit]
Description=octoblu-google-drive-link-service-blue-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/google-drive-link-service/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/google-drive-link-service/blue/docker_url) \
               || docker pull \$(etcdctl get /octoblu/google-drive-link-service/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-google-drive-link-service-blue-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-google-drive-link-service-blue@%i.service
