[Unit]
Description=octoblu-google-drive-link-service-sidekick
After=octoblu-google-drive-link-service@%i.service

[Service]
TimeoutStartSec=30
Restart=always


ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-google-drive-link-service-sidekick-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-google-drive-link-service-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-google-drive-link-service-sidekick-%i/kronk-run \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/google-drive-link-service/restart \
  -- /run/kronk/octoblu-google-drive-link-service-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-google-drive-link-service-sidekick-%i \
    10 /octoblu/google-drive-link-service/docker_url octoblu-google-drive-link-service-%i octoblu-google-drive-link-service-register-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-google-drive-link-service@%i.service
