[Unit]
Description=octoblu-uuid-alias-service-blue
Wants=vulcand.service
After=vulcand.service

[Service]
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'

ExecStartPre=/usr/bin/etcdctl get /octoblu/uuid-alias-service/blue/port || /usr/bin/echo "etcd did not contain /octoblu/uuid-alias-service/blue/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/uuid-alias-service/blue/docker_url || /usr/bin/echo "etcd did not contain /octoblu/uuid-alias-service/blue/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-uuid-alias-service-blue-env-%i octoblu-uuid-alias-service-blue-%i
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-uuid-alias-service-blue-env-%i \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/uuid-alias-service/env > /tmp/octoblu-uuid-alias-service-blue.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-uuid-alias-service-blue-%i \
  --env-file /tmp/octoblu-uuid-alias-service-blue.env \
  --memory 512m \
  -p $(/usr/bin/etcdctl get /octoblu/uuid-alias-service/blue/port):80 \
  $(/usr/bin/etcdctl get /octoblu/uuid-alias-service/blue/docker_url) \
"
ExecStop=/usr/bin/docker stop --time=5 octoblu-uuid-alias-service-blue-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-uuid-alias-service-blue@*.service
MachineMetadata=Services=true
