[Unit]
Description=octoblu-uuid-alias-service-blue-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  /octoblu/uuid-alias-service/restart \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/uuid-alias-service/green/docker_url) \
               || docker pull \$(etcdctl get /octoblu/uuid-alias-service/docker_url)) \
               && docker stop \
                    --time=5 \
                    octoblu-uuid-alias-service-blue-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-uuid-alias-service-blue@%i.service
