[Unit]
Description=octoblu-nanocyte-interval-redis-register
After=octoblu-nanocyte-interval-redis@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-nanocyte-interval-redis-register-%i \
  && /usr/bin/etcdctl get /kronk/wrapper/run > /run/kronk/octoblu-nanocyte-interval-redis-register-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-nanocyte-interval-redis-register-%i/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-nanocyte-interval-redis-register-%i/kronk-run \
    /kronk/register/start-pre octoblu-nanocyte-interval-redis-%i \
      octoblu \
      nanocyte-interval-redis \
      %i \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-nanocyte-interval-redis-register-%i/kronk-run \
    /kronk/register/start octoblu-nanocyte-interval-redis-%i \
      octoblu \
      nanocyte-interval-redis \
      %i \
"
ExecStop=/bin/sh -c " \
  /run/kronk/octoblu-nanocyte-interval-redis-register-%i/kronk-run \
    /kronk/register/stop octoblu-nanocyte-interval-redis-%i \
      octoblu \
      nanocyte-interval-redis \
      %i \
"

[X-Fleet]
X-ConditionMachineOf=octoblu-nanocyte-interval-redis@%i.service
