[Unit]
Description=Register with vulcand for octoblu-rest-service-blue
BindsTo=octoblu-rest-service-blue@%i.service
After=octoblu-rest-service-blue@%i.service

[Service]
TimeoutStartSec=300
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/docker run \
     --name octoblu-rest-service-blue-register-%i \
     --rm \
     --net host \
     --env URL=http://${COREOS_PRIVATE_IPV4}:$(/usr/bin/etcdctl get /octoblu/rest-service/blue/port) \
     --env BACKEND_ID=octoblu-rest-service-blue \
     --env SERVER_ID=octoblu-rest-service-blue-%i \
     --env VULCAN_URL=http://localhost:8182 \
     --env TIMEOUT_SECS=5 \
     octoblu/register-sidekick"

ExecStop=-/usr/bin/docker kill octoblu-rest-service-blue-register-%i
ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --backend octoblu-rest-service-blue --id octoblu-rest-service-blue-%i --vulcan http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-rest-service-blue@%i.service
