[Unit]
Description=octoblu-meshblu-amqp

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=always
ExecStartPre=/usr/bin/sleep 3
ExecStartPre=/usr/bin/etcdctl get /octoblu/meshblu-amqp/docker_url || /usr/bin/echo "etcd did not contain /octoblu/meshblu-amqp/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-meshblu-amqp-env octoblu-meshblu-amqp
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-amqp-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/meshblu-amqp/env > /tmp/octoblu-meshblu-amqp.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-meshblu-amqp \
  --memory 1024m \
  --env-file /tmp/octoblu-meshblu-amqp.env \
  -p $(/usr/bin/etcdctl get /octoblu/meshblu-amqp/port):5672 \
  $(/usr/bin/etcdctl get /octoblu/meshblu-amqp/docker_url) \
"
ExecStop=/usr/bin/docker kill octoblu-meshblu-amqp

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
