[Unit]
Description=octoblu-meshblu-authenticator-peter-party-sidekick
After=octoblu-meshblu-authenticator-peter-party@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-authenticator-peter-party-sidekick-%i \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-meshblu-authenticator-peter-party-sidekick-%i/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-authenticator-peter-party-sidekick-%i/kronk-run \
"
ExecStart=/bin/sh -c " \
  /run/kronk/octoblu-meshblu-authenticator-peter-party-sidekick-%i/kronk-run \
    /kronk/sidekick/start octoblu-meshblu-authenticator-peter-party-%i \
    octoblu \
    meshblu-authenticator-peter-party \
    %i \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-authenticator-peter-party@%i.service
