[Unit]
Description=octoblu-meshblu-balancer-xmpp
Wants=octoblu-meshblu-balancer-xmpp-register.service
Wants=octoblu-meshblu-balancer-xmpp-sidekick.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
StartLimitInterval=30
StartLimitBurst=30
Restart=always

ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk' \
  && mkdir -p /run/kronk/octoblu-meshblu-balancer-xmpp \
  && /usr/bin/curl -s http://kronk.octoblu.com/latest/wrapper/run > /run/kronk/octoblu-meshblu-balancer-xmpp/kronk-run \
  && chmod +x /run/kronk/octoblu-meshblu-balancer-xmpp/kronk-run \
"
ExecStartPre=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-balancer-xmpp/kronk-run \
    /kronk/balancer/start-pre octoblu-meshblu-balancer-xmpp \
      octoblu \
      meshblu-balancer-xmpp \
      meshblu-core-protocol-adapter-xmpp \
"
ExecStart=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-balancer-xmpp/kronk-run \
    /kronk/balancer/start octoblu-meshblu-balancer-xmpp \
      octoblu \
      meshblu-balancer-xmpp \
      meshblu-core-protocol-adapter-xmpp \
"
ExecStop=/bin/bash -c " \
  /run/kronk/octoblu-meshblu-balancer-xmpp/kronk-run \
    /kronk/balancer/stop octoblu-meshblu-balancer-xmpp \
      octoblu \
      meshblu-balancer-xmpp \
      meshblu-core-protocol-adapter-xmpp \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
