[Unit]
Description=octoblu-app-octoblu-green-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStart=/bin/sh -c "/usr/bin/etcdctl exec-watch \
  --recursive /octoblu/app-octoblu \
  -- sh -c \"(docker inspect --format='{{.Id}}' --type=image \$(etcdctl get /octoblu/app-octoblu/green/docker_url) \
               || docker pull \$(etcdctl get /octoblu/app-octoblu/docker_url)) \
               && docker stop \
                    --time=1 \
                    octoblu-app-octoblu-green-%i\""

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-app-octoblu-green@%i.service
