[Unit]
Description=Twitter Sentinel
Wants=vulcand.service
After=vulcand.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=/usr/bin/etcdctl get /octoblu/sentinel-facebook/docker_url || /usr/bin/echo "etcd did not contain /octoblu/sentinel-facebook/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm --force octoblu-sentinel-facebook-env octoblu-sentinel-facebook
ExecStartPre=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-sentinel-facebook-env \
  -e ETCDCTL_PEERS=http://$(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):2379 \
  quay.io/octoblu/etcd-to-env /octoblu/sentinel-facebook/env > /tmp/octoblu-sentinel-facebook.env \
"
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-sentinel-facebook \
  --env-file /tmp/octoblu-sentinel-facebook.env \
  $(/usr/bin/etcdctl get /octoblu/sentinel-facebook/docker_url) \
"
# ExecStop=/usr/bin/docker kill octoblu-sentinel-facebook

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=Services=true
