[Unit]
Description=octoblu-meshblu-balancer-websocket-sidekick

[Service]
TimeoutStartSec=30
Restart=always
ExecStartPre=/bin/bash -c " \
  echo 'Writing kronk to /tmp' \
  && /usr/bin/etcdctl get /kronk/sidekick/start > /tmp/octoblu-meshblu-balancer-websocket-sidekick-kronk-start \
  && chmod +x /tmp/octoblu-meshblu-balancer-websocket-sidekick-kronk-* \
"
ExecStart=/usr/bin/etcdctl exec-watch \
  /octoblu/meshblu-balancer-websocket/restart \
  -- /tmp/octoblu-meshblu-balancer-websocket-sidekick-kronk-start 10 /octoblu/meshblu-balancer-websocket/docker_url octoblu-meshblu-balancer-websocket octoblu-meshblu-balancer-websocket-register

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineOf=octoblu-meshblu-balancer-websocket.service
